<seo>
  <!-- These all need to get extracted into the `<head>` -->
  <title>New Kitten Guide | Pet Circle</title>
  <!-- OpenGraph -->
  <meta property="og:title" content="New Kitten Guide" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Pet Circle" />
  <meta
    property="og:url"
    content="https://petcircle.com.au/discover/kitten-landing-page"
  />
  <meta
    property="og:description"
    content="Expert tips and resources for bringing a kitten home plus all the essentials you need to give your kitten a better start. Our team of vets and pet experts are ready to help every step of the way."
  />
  <!-- Pick appropriate image to use when displaying in social media -->
  <meta
    property="og:image"
    content="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-mobile.jpg"
  />
  <!-- Regular meta -->
  <meta
    name="description"
    content="Expert tips and resources for bringing a kitten home plus all the essentials you need to give your kitten a better start. Our team of vets and pet experts are ready to help every step of the way."
  />
  <meta
    name="keywords"
    content="kitten,kitty,cat,kat,new cat,feline,pussycat,puppy,pupper,pup,new dog,canine,vet,professional,expert,experts,doctors,veterinarian,pet"
  />
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="New Kitten Guide" />
  <meta
    name="twitter:description"
    content="Expert tips and resources for bringing a kitten home plus all the essentials you need to give your kitten a better start. Our team of vets and pet experts are ready to help every step of the way."
  />
  <meta
    name="twitter:image"
    content="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-mobile.jpg"
  />
</seo>

<div class="container">
  <div class="row">
    <div id="heroImage">
      <picture>
        <source
          srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-mobile.jpg"
          media="(max-width: 768px)"
        />
        <img
          src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-desktop.jpg"
          alt="Better Start Kitten - Your online hub for all things kitten"
        />
      </picture>
    </div>

    <div id="article">
      <div id="rightPanel">
        <div
          class="landing-main copy"
          style="font-family: Roboto, sans-serif !important"
        >
          <header class="landing-header">
            <div>

              <h1 id="top" class="title-1 landing-title">Are you ready for a
                kitten?</h1>
              <ul class="landing-header-list">
                <li>Have you got all the new kitten essentials?</li>
                <li>Do you know what to do if your kitten scratches the
                  furniture?</li>
                <li>How do you toilet train a new kitten?</li>
              </ul>

              <p class="landing-header-paragraph">
                Bringing home a new kitten can be both exciting and
                overwhelming! Our team of vets and pet experts are here to help
                you every step of the way, so you can give your fur-baby a
                Better Start.
              </p>
            </div>
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-kitten-desktop.jpg"
              alt=""
              class="landing-header-flavour sm-hidden"
            />
          </header>

          <picture>
            <source
              srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-vet-advice-mobile.jpg"
              media="(max-width: 768px)"
            />
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-vet-advice-desktop.jpg"
              alt="Need vet advie? Our Vet Squad is here to help"
              class="landing-banner"
            />
          </picture>

          <div class="row">
            <div class="col-sm-4">
              <a
                href="https://app.acuityscheduling.com/schedule.php?owner=19197814&appointmentType=22930812"
              >
                <picture>
                  <source
                    srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/book-video-chat-mobile.jpg"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/book-video-chat-desktop.jpg"
                    alt="Book a video chat with a vet"
                  />
                </picture>
              </a>
            </div>

            <div class="col-sm-4">
              <a href="https://direct.lc.chat/8650614/3">
                <picture>
                  <source
                    srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/live-chat-mobile.jpg"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/live-chat-desktop.jpg"
                    alt="Live Chat with a vet now"
                  />
                </picture>
              </a>
            </div>

            <div class="col-sm-4">
              {{! TODO: form somehow }}
              <a
                href="https://www.petcircle.com.au/petcircle-assets/content/articles/new-kitten-starter-guide-web.pdf"
              >
                <picture>
                  <source
                    srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/read-kitten-guide-mobile.jpg"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/read-kitten-guide-desktop.jpg"
                    alt="Download our new kitten parent guide"
                  />
                </picture>
              </a>
            </div>
          </div>

          <picture>
            <source
              srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-first-week-mobile.jpg"
              media="(max-width: 768px)"
            />
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-first-week.jpg"
              alt="The first week"
              class="landing-banner"
            />
          </picture>

          <div class="row">
            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/new-kitten-guide#bring"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/bringing-kitten-home-desktop.jpg"
                  alt=""
                />

                <div>
                  <h3>Bringing a new kitten home</h3>
                  <p>
                    Bringing home a new furry friend is an exciting time! It can
                    also be overwhelming, especially if you’re a first time
                    kitten parent.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-kim.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Kimberly Chainey</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/best-kitten-food"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/best-kitten-food-desktop.jpg"
                  alt=""
                />

                <div>
                  <h3>What is the best kitten food?</h3>
                  <p>
                    With so many wet and dry diets on the market, how can you be
                    sure your precious fluffball is getting the best?
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-carla.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Carla Paszkowski</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/toilet-training-your-kitten"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/toilet-training-kitten-desktop.jpg"
                  alt=""
                />

                <div>
                  <h3>Toilet training your new kitten</h3>
                  <p>
                    Now that your kitten is settling into their new home, your
                    first priority is probably training them to use the litter
                    box.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-carla.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Kimberly Chainey</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>
          </div>

          <a href="https://www.petcircle.com.au/better-bundles">
            <picture>
              <source
                srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/better-bundle-mobile.jpg"
                media="(max-width: 768px)"
              />
              <img
                src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/better-bundle-desktop.jpg"
                alt="Better Bundle - Everything a new puppy or kitten needs. Only $49.95 (valued up to $230)"
                class="landing-banner"
              />
            </picture>
          </a>

          <h2
            class="title-1 landing-title"
            style="margin-bottom: 30px; text-align: center;"
          >More tips on caring for your kitten</h2>

          <div class="row">
            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/new-kitten-guide#indoor"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-indoors-desktop.jpg"
                  alt=""
                />

                <div>
                  <h3>Should you keep your new kitten indoors?</h3>
                  <p>
                    It’s important to consider whether your new kitten will live
                    totally indoor, outdoor, or spend a bit of time in both.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-carla.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Carla Paszkowski</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/kitten-training-guide"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-biting-desktop.jpg"
                  alt=""
                />

                <div>
                  <h3>How to stop your kitten biting or scratching?</h3>
                  <p>
                    Kittens love to play. And biting and scratching is part of
                    normal kitten development.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-belinda.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Belinda Stancombe</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/new-kitten-guide#indoor"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/intro-new-cat-desktop.jpg"
                  alt=""
                />

                <div>
                  <h3>Introducing a new cat to your household</h3>
                  <p>
                    If you already have a cat at home and are planning to
                    introduce a new cat or kitten, there are some steps you can
                    take to avoid an all-out feline world war three scenario.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-teagan.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Teagan Lever</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>
          </div>

          {{! TODO: wrong video link. Talk to team. }}
          <a href="https://youtu.be/jyJRpS-tPMs">
            <picture>
              <source
                srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/better-kitten-bundle-unboxing-mobile.jpg"
                media="(max-width: 768px)"
              />
              <img
                src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/better-kitten-bundle-unboxing-desktop.jpg"
                alt="Better Kitten Bundle Unboxing"
                class="landing-banner"
              />
            </picture>
          </a>

          {{! TODO: details form }}
          <a
            href="https://www.petcircle.com.au/petcircle-assets/content/articles/new-puppy-starter-guide-web.pdf"
            style="display:flex; justify-content:center;"
          >
            <picture>
              <source
                srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-guide-mobile.jpg"
                media="(max-width: 768px)"
              />
              <img
                src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-guide-desktop.jpg"
                alt="Better Kitten Bundle Unboxing"
                class="landing-banner shrunk"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>