<div class="container">
  <div id="article">
    <div id="rightPanel">
      <div class="copy" style="font-family: Roboto, sans-serif !important">
        <header class="article-header" style="margin-bottom: 30px;">
          <h1 class="title-1">Are you ready for a puppy or kitten?</h1>

          <p>
            Talk to our
            <a
              href="https://storage.googleapis.com/discover/vet-squad"
              target="_blank"
            >
              team of vets</a>
            and pet experts to learn everything you need to know to take the
            plunge into pet parenthood. We can answer all your questions, from
            what breeds would most suit your lifestyle, to which food is best
            for your new fur family member.
          </p>

          <h3 id="vet-advice">
            Get FREE advice from our vets
          </h3>
        </header>

        <section class="row">
          <div class="col-sm-6">
            <h4 id="question">
              Submit a question for a vet
            </h4>

            <script
              src="./preparing-for-a-puppy_files/punycode.min.js.download"
            ></script>
            <script
              src="./preparing-for-a-puppy_files/prototype.forms.js.download"
              type="text/javascript"
            ></script>
            <script
              src="./preparing-for-a-puppy_files/jotform.forms.js.download"
              type="text/javascript"
            ></script>
            <script type="text/javascript">
              JotForm.init(function () { if (window.JotForm &&
              JotForm.accessible) $("input_6").setAttribute("tabindex", 0);
              JotForm.setCustomHint("input_6", "Type here...");
              JotForm.newDefaultTheme = true; JotForm.extendsNewTheme = false;
              JotForm.newPaymentUIForNewCreatedForms = true;
              JotForm.newPaymentUI = true; JotForm.alterTexts(undefined);
              JotForm.clearFieldOnHide = "disable"; JotForm.submitError =
              "jumpToFirstError"; /*INIT-END*/ });
              JotForm.prepareCalculationsOnTheFly([ null, null, null, null, {
              description: "", name: "name", qid: "4", text: "Name", type:
              "control_fullname", }, { description: "", name: "email", qid: "5",
              subLabel: "example@example.com", text: "Email", type:
              "control_email", }, { description: "", name: "whatIs", qid: "6",
              subLabel: "", text: "What is your question for the vet?", type:
              "control_textarea", }, { name: "submit", qid: "7", text: "Submit",
              type: "control_button", }, ]); setTimeout(function () {
              JotForm.paymentExtrasOnTheFly([ null, null, null, null, {
              description: "", name: "name", qid: "4", text: "Name", type:
              "control_fullname", }, { description: "", name: "email", qid: "5",
              subLabel: "example@example.com", text: "Email", type:
              "control_email", }, { description: "", name: "whatIs", qid: "6",
              subLabel: "", text: "What is your question for the vet?", type:
              "control_textarea", }, { name: "submit", qid: "7", text: "Submit",
              type: "control_button", }, ]); }, 20);
            </script>
            <link
              type="text/css"
              media="print"
              rel="stylesheet"
              href="./preparing-for-a-puppy_files/printForm.css"
            />
            <link
              id="custom-font"
              type="text/css"
              rel="stylesheet"
              href="./preparing-for-a-puppy_files/fontface.css"
            />
            <link
              type="text/css"
              rel="stylesheet"
              href="./preparing-for-a-puppy_files/5e6b428acc8c4e222d1beb91.css"
            />
            <link
              type="text/css"
              rel="stylesheet"
              href="./preparing-for-a-puppy_files/payment_styles.css"
            />
            <link
              type="text/css"
              rel="stylesheet"
              href="./preparing-for-a-puppy_files/payment_feature.css"
            />
            <style type="text/css" id="form-designer-style">
              /* Injected CSS Code */ *, *:after, *:before { box-sizing:
              border-box; } .form-all { font-family: "Roboto", sans-serif; }
              .main .jotform-form { width: 100%; padding: 0 3%; } .form-all {
              display: flex; flex-direction: column; width: 100%; max-width:
              752px; } .form-line-active { background-color: #ffffe0; }
              .form-all { font-size: 16px; } li.form-line { margin-top: 12px;
              margin-bottom: 12px; } .form-line { padding: 12px 10px; }
              .form-section { padding: 0px 38px; } .form-textbox,
              .form-textarea, .form-radio-other-input,
              .form-checkbox-other-input, .form-captcha input, .form-spinner
              input { background-color: #ffffff; } .form-label { font-family:
              "Roboto", sans-serif; } .form-line-column { width: calc(50% -
              8px); } .form-checkbox-item label, .form-checkbox-item span,
              .form-radio-item label, .form-radio-item span { color: #6f6f6f; }
              .form-radio-item, .form-checkbox-item { padding-bottom: 0px
              !important; } .form-radio-item:last-child,
              .form-checkbox-item:last-child { padding-bottom: 0; }
              .form-single-column .form-checkbox-item, .form-single-column
              .form-radio-item { width: 100%; } .form-checkbox-item
              .editor-container div, .form-radio-item .editor-container div {
              position: relative; } .form-checkbox-item .editor-container
              div:before, .form-radio-item .editor-container div:before {
              display: inline-block; vertical-align: middle; left: 0; width:
              20px; height: 20px; } .form-all .form-submit-button, .form-all
              .form-submit-print { font-size: 16px; font-weight: normal;
              font-family: "Roboto", sans-serif; border-color: #c3cad8; }
              .form-all .form-submit-button { min-width: 180px; } .form-all
              .form-submit-button.js-new-sacl-button, .form-all
              .form-submit-print { min-width: 98px; } .form-all
              .form-submit-button { color: #ffffff; background: #35b2b9;
              box-shadow: none; text-shadow: none; } .form-all
              .form-pagebreak-back, .form-all .form-pagebreak-next {
              font-family: "Roboto", sans-serif; font-size: 16px; font-weight:
              normal; } .form-all .form-pagebreak-back, .form-all
              .form-pagebreak-next { min-width: 128px; }
              li[data-type="control_image"] div { text-align: left; }
              li[data-type="control_image"] img { border: none; border-width:
              0px !important; border-style: solid !important; border-color:
              false !important; } .supernova { height: 100%; background-repeat:
              no-repeat; background-attachment: scroll; background-position:
              center top; background-repeat: repeat; } .supernova {
              background-image: none; } #stage { background-image: none; } /* |
              */ .form-all { background-repeat: no-repeat;
              background-attachment: scroll; background-position: center top;
              background-repeat: repeat; } .form-header-group {
              background-repeat: no-repeat; background-attachment: scroll;
              background-position: center top; } .header-large h1.form-header {
              font-size: 2em; } .header-large h2.form-header { font-size: 1.5em;
              } .header-large h3.form-header { font-size: 1.17em; }
              .header-large h1 + .form-subHeader { font-size: 1em; }
              .header-large h2 + .form-subHeader { font-size: 0.875em; }
              .header-large h3 + .form-subHeader { font-size: 0.75em; }
              .header-default h1.form-header { font-size: 2em; } .header-default
              h2.form-header { font-size: 1.5em; } .header-default
              h3.form-header { font-size: 1.17em; } .header-default h1 +
              .form-subHeader { font-size: 1em; } .header-default h2 +
              .form-subHeader { font-size: 0.875em; } .header-default h3 +
              .form-subHeader { font-size: 0.75em; } .header-small
              h1.form-header { font-size: 2em; } .header-small h2.form-header {
              font-size: 1.5em; } .header-small h3.form-header { font-size:
              1.17em; } .header-small h1 + .form-subHeader { font-size: 1em; }
              .header-small h2 + .form-subHeader { font-size: 0.875em; }
              .header-small h3 + .form-subHeader { font-size: 0.75em; }
              .form-header-group { text-align: left; } .form-header-group {
              font-family: "Roboto", sans-serif; }
              div.form-header-group.header-large { margin: 0px -38px; }
              div.form-header-group.header-large { padding: 40px 52px; }
              .form-header-group .form-header, .form-header-group
              .form-subHeader { color: 0; } .form-line-error { overflow: hidden;
              -webkit-transition-property: none; -moz-transition-property: none;
              -ms-transition-property: none; -o-transition-property: none;
              transition-property: none; -webkit-transition-duration: 0.3s;
              -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s;
              -o-transition-duration: 0.3s; transition-duration: 0.3s;
              -webkit-transition-timing-function: ease;
              -moz-transition-timing-function: ease;
              -ms-transition-timing-function: ease;
              -o-transition-timing-function: ease; transition-timing-function:
              ease; background-color: #fff4f4; } .form-line-error
              .form-error-message { background-color: #f23a3c; clear: both;
              float: none; } .form-line-error .form-error-message
              .form-error-arrow { border-bottom-color: #f23a3c; }
              .form-line-error input:not(#coupon-input), .form-line-error
              textarea, .form-line-error .form-validation-error { border: 1px
              solid #f23a3c; box-shadow: 0 0 3px #f23a3c; } .supernova {
              background-color: #ffffff; background-color: #ecedf3; } .supernova
              body { background-color: transparent; } .supernova .form-all,
              .form-all { background-color: #ffffff; } .form-textbox,
              .form-textarea, .form-radio-other-input,
              .form-checkbox-other-input, .form-captcha input, .form-spinner
              input { background-color: #ffffff; } .form-matrix-table tr {
              border-color: #e6e6e6; } .form-matrix-table tr:nth-child(2n) {
              background-color: #f2f2f2; } .form-all { color: #2c3345; }
              .form-label-top, .form-label-left, .form-label-right, .form-html {
              color: #555555; } .form-line-error { overflow: hidden;
              -webkit-transition-property: none; -moz-transition-property: none;
              -ms-transition-property: none; -o-transition-property: none;
              transition-property: none; -webkit-transition-duration: 0.3s;
              -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s;
              -o-transition-duration: 0.3s; transition-duration: 0.3s;
              -webkit-transition-timing-function: ease;
              -moz-transition-timing-function: ease;
              -ms-transition-timing-function: ease;
              -o-transition-timing-function: ease; transition-timing-function:
              ease; background-color: #fff4f4; } .form-header-group
              .form-header, .form-header-group .form-subHeader { color: 0; }
              /*__INSPECT_SEPERATOR__*/ /* Injected CSS Code */
            </style>

            <form
              class="jotform-form"
              action="https://submit.jotform.com/submit/211318406497053/"
              method="post"
              name="form_211318406497053"
              id="211318406497053"
              accept-charset="utf-8"
              autocomplete="on"
              novalidate="true"
            >
              <input type="hidden" name="formID" value="211318406497053" />
              <input type="hidden" id="JWTContainer" value="" />
              <input type="hidden" id="cardinalOrderNumber" value="" />
              <div role="main" class="form-all">
                <ul class="form-section page-section">
                  <li
                    class="form-line jf-required"
                    data-type="control_fullname"
                    id="id_4"
                    data-compound-hint=","
                  >
                    <label
                      class="form-label form-label-top form-label-auto"
                      id="label_4"
                      for="first_4"
                    >
                      Name
                      <span class="form-required">*</span>
                    </label>
                    <div
                      id="cid_4"
                      class="form-input-wide jf-required"
                      data-layout="full"
                    >
                      <div data-wrapper-react="true">
                        <span
                          class="form-sub-label-container"
                          style="vertical-align: top"
                          data-input-type="first"
                          data-children-count="1"
                        >
                          <input
                            type="text"
                            id="first_4"
                            name="q4_name[first]"
                            class="form-textbox validate[required]"
                            size="10"
                            value=""
                            data-component="first"
                            aria-labelledby="label_4 sublabel_4_first"
                            required=""
                            data-kwimpalastatus="alive"
                            data-kwimpalaid="1622003103832-0"
                          />
                          <label
                            class="form-sub-label"
                            for="first_4"
                            id="sublabel_4_first"
                            style="min-height: 13px"
                            aria-hidden="false"
                          >
                            First Name
                          </label>
                        </span>
                        <span
                          class="form-sub-label-container"
                          style="vertical-align: top"
                          data-input-type="last"
                          data-children-count="1"
                        >
                          <input
                            type="text"
                            id="last_4"
                            name="q4_name[last]"
                            class="form-textbox validate[required]"
                            size="15"
                            value=""
                            data-component="last"
                            aria-labelledby="label_4 sublabel_4_last"
                            required=""
                            data-kwimpalastatus="alive"
                            data-kwimpalaid="1622003103832-1"
                          />
                          <label
                            class="form-sub-label"
                            for="last_4"
                            id="sublabel_4_last"
                            style="min-height: 13px"
                            aria-hidden="false"
                          >
                            Last Name
                          </label>
                        </span>
                      </div>
                    </div>
                  </li>
                  <li
                    class="form-line jf-required"
                    data-type="control_email"
                    id="id_5"
                  >
                    <label
                      class="form-label form-label-top form-label-auto"
                      id="label_5"
                      for="input_5"
                    >
                      Email
                      <span class="form-required">*</span>
                    </label>
                    <div
                      id="cid_5"
                      class="form-input-wide jf-required"
                      data-layout="half"
                    >
                      <span
                        class="form-sub-label-container"
                        style="vertical-align: top"
                        data-children-count="1"
                      >
                        <input
                          type="email"
                          id="input_5"
                          name="q5_email"
                          class="form-textbox validate[required, Email]"
                          style="width: 310px"
                          size="310"
                          value=""
                          data-component="email"
                          aria-labelledby="label_5 sublabel_input_5"
                          required=""
                          data-kwimpalastatus="alive"
                          data-kwimpalaid="1622003103832-2"
                        />
                        <label
                          class="form-sub-label"
                          for="input_5"
                          id="sublabel_input_5"
                          style="min-height: 13px"
                          aria-hidden="false"
                        >
                          example@example.com
                        </label>
                      </span>
                    </div>
                  </li>
                  <li
                    class="form-line jf-required"
                    data-type="control_textarea"
                    id="id_6"
                  >
                    <label
                      class="form-label form-label-top form-label-auto"
                      id="label_6"
                      for="input_6"
                    >
                      What is your question for the vet?
                      <span class="form-required">*</span>
                    </label>
                    <div
                      id="cid_6"
                      class="form-input-wide jf-required"
                      data-layout="full"
                      data-children-count="1"
                    >
                      <textarea
                        id="input_6"
                        class="form-textarea validate[required] custom-hint-group form-custom-hint"
                        name="q6_whatIs"
                        style="width: 648px; height: 163px"
                        data-component="textarea"
                        required=""
                        aria-labelledby="label_6"
                        data-customhint="Type here..."
                        customhinted="true"
                        placeholder="Type here..."
                        spellcheck="false"
                      ></textarea>
                    </div>
                  </li>
                  <li class="form-line" data-type="control_button" id="id_7">
                    <div id="cid_7" class="form-input-wide" data-layout="full">
                      <div
                        data-align="auto"
                        class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField"
                      >
                        <button
                          id="input_7"
                          type="submit"
                          class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
                          data-component="button"
                          data-content=""
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </li>
                  <li style="display: none" data-children-count="1">
                    Should be Empty:
                    <input type="text" name="website" value="" />
                  </li>
                </ul>
              </div>
              <script>
                JotForm.showJotFormPowered = "new_footer";
              </script>
              <script>
                JotForm.poweredByText = "Powered by JotForm";
              </script>
              <input
                type="hidden"
                class="simple_spc"
                id="simple_spc"
                name="simple_spc"
                value="211318406497053-211318406497053"
              />
              <script type="text/javascript">
                var all_spc = document.querySelectorAll(
                "form[id='211318406497053'] .si" + "mple" + "_spc" ); for (var i
                = 0; i < all_spc.length; i++) { all_spc[i].value =
                "211318406497053-211318406497053"; }
              </script>

              <input
                type="hidden"
                name="event_id"
                value="1622003103763_211318406497053_9ruOabU"
              />
            </form>
            <img
              id="event_tracking_image"
              src="./preparing-for-a-puppy_files/saved_resource"
              alt="jftr"
              width="1"
              height="1"
              style="display: none"
            />
            <script
              src="./preparing-for-a-puppy_files/smoothscroll.min.js.download"
            ></script>
            <script
              src="./preparing-for-a-puppy_files/errorNavigation.js.download"
            ></script>
          </div>

          <div class="col-sm-6">
            <h4>
              <a id="video-chat">
                Book a video advice session with a Pet Circle vet
              </a>
            </h4>
            <iframe
              src="./preparing-for-a-puppy_files/schedule.html"
              width="100%"
              height="700"
              frameborder="0"
              style="
                  max-height: none;
                  overflow: hidden;
                  height: 569px !important;
                "
            ></iframe>
            <script
              src="./preparing-for-a-puppy_files/embed.js.download"
              type="text/javascript"
            ></script>
          </div>

          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <h4 id="live-chat">Live Chat with a Vet</h4>
                <p>Available 8am-4pm, Monday - Thursday</p>
              </div>

              <div class="col-sm-3">
                <a href="https://direct.lc.chat/8650614/3">
                  <img
                    src="./preparing-for-a-puppy_files/10182020-Meet-Our-Vets-fa.jpg"
                  />
                </a>
                <p class="edit-details" style="margin-bottom: 30px">
                  <a
                    href="https://direct.lc.chat/8650614/3"
                    class="article-button"
                  >
                    Live Chat with a Vet
                  </a>
                </p>
              </div>

              <div class="col-sm-3">
                <a
                  href="https://storage.googleapis.com/discover/new-puppy-guide"
                >
                  <img
                    src="./preparing-for-a-puppy_files/the-puppy-starter-box-royal-canin___1.png"
                  />
                </a>
                <p class="edit-details" style="margin-bottom: 30px">
                  <a
                    href="https://www.petcircle.com.au/discover/puppy-food-guide"
                    class="article-button"
                  >
                    <b>Discover</b>
                    New Puppy Essentials
                  </a>
                </p>
              </div>

              <div class="col-sm-3">
                <a href="https://www.petcircle.com.au/discover/new-puppy-guide">
                  <img src="./preparing-for-a-puppy_files/puppy-banana.jpg" />
                </a>
                <p class="edit-details" style="margin-bottom: 30px">
                  <a
                    href="https://www.petcircle.com.au/discover/new-puppy-guide"
                    class="article-button"
                  >
                    <b>Read</b>
                    Our New Puppy Guide
                  </a>
                </p>
              </div>

              <div class="col-sm-3">
                <a href="https://www.petcircle.com.au/bundle-boxes/puppy">
                  <img
                    src="./preparing-for-a-puppy_files/the-puppy-starter-box-royal-canin.png"
                  />
                </a>
                <p class="edit-details" style="margin-bottom: 30px">
                  <a
                    href="https://www.petcircle.com.au/bundle-boxes/puppy"
                    class="article-button"
                  >
                    <b>Shop</b>
                    New Puppy Starter Boxes
                  </a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>