<seo>
  <!-- These all need to get extracted into the `<head>` -->
  <title>Bringing a New Kitten Home? Guide Get Free Advice from our Vet Team |
    Pet Circle</title>
  <link
    rel="canonical"
    href="https://www.petcircle.com.au/collections/new-kitten"
  />
  <!-- OpenGraph -->
  <meta
    property="og:title"
    content="Bringing a New Kitten Home? Guide Get Free Advice from our Vet Team"
  />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Pet Circle" />
  <meta
    property="og:url"
    content="https://www.petcircle.com.au/collections/new-kitten"
  />
  <meta
    property="og:description"
    content="Expert tips and resources for bringing a kitten home plus all the essentials you need to give your kitten a better start. Our team of vets and pet experts are ready to help every step of the way."
  />
  <!-- Pick appropriate image to use when displaying in social media -->
  <meta
    property="og:image"
    content="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-mobile.jpg"
  />
  <!-- Regular meta -->
  <meta
    name="description"
    content="Expert tips and resources for bringing a kitten home plus all the essentials you need to give your kitten a better start. Our team of vets and pet experts are ready to help every step of the way."
  />
  <meta
    name="keywords"
    content="kitten,kitty,cat,kat,new cat,feline,pussycat,puppy,pupper,pup,new dog,canine,vet,professional,expert,experts,doctors,veterinarian,pet"
  />
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:title"
    content="Bringing a New Kitten Home? Guide Get Free Advice from our Vet Team"
  />
  <meta
    name="twitter:description"
    content="Expert tips and resources for bringing a kitten home plus all the essentials you need to give your kitten a better start. Our team of vets and pet experts are ready to help every step of the way."
  />
  <meta
    name="twitter:image"
    content="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-mobile.jpg"
  />
</seo>

<div class="container">
  <div class="row">
    <div id="heroImage">
      <picture>
        <source
          srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-mobile.jpg"
          media="(max-width: 768px)"
        />
        <img
          src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-hero-desktop.jpg"
          alt="Better Start Kitten - Your online hub for all things kitten"
        />
      </picture>
    </div>

    <div id="article">
      <div id="rightPanel">
        <div
          class="landing-main copy"
          style="font-family: Roboto, sans-serif !important"
        >
          <header class="landing-header">
            <div>

              <h1 id="top" class="title-1 landing-title">Are you ready for a
                kitten?</h1>
              <ul class="landing-header-list">
                <li>Have you got all the new kitten essentials?</li>
                <li>Is your new kitten hiding or not eating?</li>
                <li>Do you know what to do if your kitten scratches the
                  furniture?</li>
                <li>How do you toilet train a new kitten?</li>
              </ul>

              <p class="landing-header-paragraph">
                Bringing home a new kitten can be both exciting and
                overwhelming! Our team of vets and pet experts are here to help
                you every step of the way, so you can give your fur-baby a
                Better Start.
              </p>
            </div>
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-kitten-desktop.jpg"
              alt="portrait image of a kitten"
              class="landing-header-flavour sm-hidden"
            />
          </header>

          <picture>
            <source
              srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-vet-advice-mobile.jpg"
              media="(max-width: 768px)"
            />
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-vet-advice-desktop.jpg"
              alt="Need vet advie? Our Vet Squad is here to help"
              class="landing-banner"
            />
          </picture>

          <div class="row">
            <div class="col-sm-4">
              <a
                href="https://app.acuityscheduling.com/schedule.php?owner=19197814&appointmentType=22930812"
                rel="nofollow"
              >
                <picture>
                  <source
                    srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/book-video-chat-kitten-mobile.jpg"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/book-video-chat-kitten-desktop.jpg"
                    alt="Book a video chat with a vet"
                  />
                </picture>
              </a>
            </div>

            <div class="col-sm-4">
              <a href="https://direct.lc.chat/8650614/3" rel="nofollow">
                <picture>
                  <source
                    srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/live-chat-kitten-mobile.jpg"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/live-chat-kitten-desktop.jpg"
                    alt="Live Chat with a vet"
                  />
                </picture>
              </a>
            </div>

            <div class="col-sm-4 sm-only" aria-hidden="true">
              <a
                href="https://app.monstercampaigns.com/c/pbadvz8iufam8kv8xugm/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/read-kitten-guide-mobile.jpg"
                  alt="Download the new kitten guide"
                />
              </a>
            </div>

            <div class="col-sm-4 sm-hidden">
              <a
                href="https://app.monstercampaigns.com/c/cwhjfawk2he0tmrwwn9d/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/read-kitten-guide-desktop.jpg"
                  alt="Download the new kitten guide"
                />
              </a>
            </div>
          </div>

          <picture>
            <source
              srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-first-week-mobile.jpg"
              media="(max-width: 768px)"
            />
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-page-first-week.jpg"
              alt="The first week with your kitten"
              class="landing-banner"
            />
          </picture>

          <div class="row">
            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/new-kitten-guide#bring"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/bringing-kitten-home-desktop.jpg"
                  alt="photo of a tabby kitten"
                />

                <div>
                  <h3>Bringing a new kitten home</h3>
                  <p>
                    Bringing home a new furry friend is an exciting time! It can
                    also be overwhelming, especially if you’re a first time
                    kitten parent, make sure you read these
                    <u>tips for bringing a new kitten home.</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-kim.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Kimberly Chainey</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/best-kitten-food"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/best-kitten-food-desktop.jpg"
                  alt="photo of kittens eating dry food"
                />

                <div>
                  <h3>What is the best kitten food?</h3>
                  <p>
                    With so many wet and dry diets on the market, how can you be
                    sure your precious fluffball is getting the best? Have a
                    look at Dr. Carla Paszkowsky’s article
                    <u>about the best kitten food.</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-carla.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Carla Paszkowski</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/toilet-training-your-kitten"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/toilet-training-kitten-desktop.jpg"
                  alt="photo of a calico cat in a litter box"
                />

                <div>
                  <h3>Toilet training your new kitten</h3>
                  <p>
                    Now that your kitten is settling into their new home, your
                    first priority is probably training them to use the litter
                    box.
                    <u>Read more about toilet training your kitten here.</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-carla.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Kimberly Chainey</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>
          </div>

          <a href="https://www.petcircle.com.au/better-bundles">
            <picture>
              <source
                srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/better-bundle-kitten-mobile.jpg"
                media="(max-width: 768px)"
              />
              <img
                src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/better-bundle-kitten-desktop.jpg"
                alt="Better Bundle - Everything a new kitten needs. Only $49.95 (valued up to $230)"
                class="landing-banner"
              />
            </picture>
          </a>

          <h2
            class="title-1 landing-title"
            style="margin-bottom: 30px; text-align: center;"
          >More tips on caring for your kitten</h2>

          <div class="row">
            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/new-kitten-guide#indoor"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-indoors-desktop.jpg"
                  alt="photo of a kitten outside, looking up"
                />

                <div>
                  <h3>Should you keep your new kitten indoors?</h3>
                  <p>
                    It’s important to consider whether your new kitten will live
                    totally indoor, outdoor, or spend a bit of time in both.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-carla.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Carla Paszkowski</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/kitten-training-guide"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-biting-desktop.jpg"
                  alt="photo of an orange cat biting someone's hand"
                />

                <div>
                  <h3>How to stop your kitten biting or scratching?</h3>
                  <p>
                    Kittens love to play. And biting and scratching is part of
                    normal kitten development.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-belinda.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Belinda Stancombe</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>

            <article class="col-sm-4">
              <a
                href="https://www.petcircle.com.au/discover/new-kitten-guide#indoor"
                class="landing-article"
              >
                <img
                  src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/intro-new-cat-desktop.jpg"
                  alt="photo of a ginger kitten being handled"
                />

                <div>
                  <h3>Introducing a new cat to your household</h3>
                  <p>
                    If you already have a cat at home and are planning to
                    introduce a new cat or kitten, there are some steps you can
                    take to avoid an all-out feline world war three scenario.
                    <u>Read More</u>
                  </p>
                </div>
                <footer class="landing-article-author">
                  <img
                    src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/dr-teagan.png"
                    alt=""
                    class="landing-article-author-img"
                  />
                  <div class="landing-article-author-info">
                    <div>by <b>Dr. Teagan Lever</b></div>
                    <div>BVSc (Hons)</div>
                  </div>
                </footer>
              </a>
            </article>
          </div>

          {{! TODO: wrong video link. }}
          <a href="https://youtu.be/jyJRpS-tPMs">
            <picture>
              <source
                srcset="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/better-kitten-bundle-unboxing-mobile.jpg"
                media="(max-width: 768px)"
              />
              <img
                src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/better-kitten-bundle-unboxing-desktop.jpg"
                alt="Better Kitten Bundle Unboxing"
                class="landing-banner"
              />
            </picture>
          </a>

          <a
            href="https://app.monstercampaigns.com/c/pbadvz8iufam8kv8xugm/"
            target="_blank"
            rel="noopener noreferrer"
            style="display:flex; justify-content:center;"
            class="sm-only"
            aria-hidden="true"
          >
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-guide-mobile.jpg"
              alt="Better Kitten Bundle Unboxing"
              class="landing-banner shrunk"
            />
          </a>

          <a
            href="https://app.monstercampaigns.com/c/cwhjfawk2he0tmrwwn9d"
            target="_blank"
            rel="noopener noreferrer"
            style="display:flex; justify-content:center;"
            class="sm-hidden"
          >
            <img
              src="https://storage.googleapis.com/petcircle-assets/images/collection/better-start/kitten/kitten-guide-desktop.jpg"
              alt="Better Kitten Bundle Unboxing"
              class="landing-banner shrunk"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>